<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<!-- Fragment Navigation -->
<section th:fragment="navbar">
    <div class="site-navbar py-2">
        <div class="search-wrap">
            <div class="container">
                <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
                <form action="#" method="post">
                    <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
                </form>
            </div>
        </div>

        <div class="container">
            <div class="d-flex align-items-center justify-content-between">
                <div class="logo">
                    <div class="site-logo">
                        <a th:href="@{/}" class="js-logo-clone">HPharma</a>
                    </div>
                </div>

                <div class="main-nav d-none d-lg-block">
                    <nav class="site-navigation text-right text-md-center" role="navigation">
                        <ul class="site-menu js-clone-nav d-none d-lg-block">
                            <li class="active"><a th:href="@{/}">Home</a></li>
                            <li><a th:href="@{/products}">Store</a></li>
                            <li><a th:href="@{/about}">About</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="icons">
                    <a href="#" class="icons-btn d-inline-block js-search-open">
                        <span class="icon-search"></span>
                    </a>
                    <a th:href="@{/cart}" class="icons-btn d-inline-block bag">
                        <span class="icon-shopping-bag"></span>
                        <span class="number">2</span>
                    </a>
                    <a href="#" class="icons-btn d-inline-block" id="userMenu" data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        <span class="icon-user"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                        <!-- Hiển thị khi người dùng chưa đăng nhập -->
                        <div sec:authorize="isAnonymous()">
                            <a class="dropdown-item" th:href="@{/login}">Đăng nhập</a>
                            <a class="dropdown-item" th:href="@{/registration}">Đăng ký</a>
                        </div>

                        <!-- Hiển thị khi người dùng đã đăng nhập -->
                        <div sec:authorize="isAuthenticated()">
                            <a class="dropdown-item" th:href="@{/profile}">Tài khoản</a>

                            <a class="dropdown-item" th:href="@{/addresses}">Địa chỉ nhận hàng</a>

                            <!-- Thêm mục Quản lý nếu người dùng có quyền Admin -->
                            <a class="dropdown-item" th:href="@{/products/management}"
                               sec:authorize="hasAuthority('ADMIN')">Quản lý</a>

                            <a class="dropdown-item" th:href="@{/logout}">Đăng xuất</a>
                        </div>
                    </div>

                    <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none">
                        <span class="icon-menu"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
</html>
