<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/header :: head}">
    <title>Thank You</title>
</head>
<body>
<header th:replace="~{/fragments/navigation :: navbar}"></header>
<main class="text-center mt-5">
    <div class="site-wrap">
        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0"><a th:href="@{/}">Home</a> <span class="mx-2 mb-0">/</span> <strong
                            class="text-black"><a th:href="@{/thankyou}">Thank You</a></strong></div>
                </div>
            </div>
        </div>

        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <span class="icon-check_circle display-3 text-success"></span>
                        <h2 class="display-3 text-black">Thank you!</h2>
                        <p class="lead mb-5">You order was successfuly completed.</p>
                        <p><a th:href="@{/products}" class="btn btn-md height-auto px-4 py-3 btn-primary">Back to
                            store</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${error}" class="alert alert-danger" role="alert">
            <p th:text="${error}"></p>
        </div>

    </div>
</main>
<footer th:replace="~{/fragments/footer :: footer}"></footer>
</body>
</html>
